        .vjs-custom-waiting .vjs-loading-spinner
        {
            display: block;
        }
        .video-js.vjs-custom-waiting .vjs-loading-spinner:before,
        .video-js.vjs-custom-waiting .vjs-loading-spinner:after
        {
            /* I just copied the same animation as in the default css file */
            -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
            animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
        }
        .video-js .vjs-tech{
                        /*object-fit: fill !important; !* for those who do support it *!*/
            width: 100% !important;
            height: 100% !important;
        }

        
        .open-chat {
                        background: url("https://player.mgmlcdn.com/public/images/fannbox_open_chat.png");
                        background-position: center;
            background-repeat: no-repeat;
        }
        .close-chat {
                        background: url("https://player.mgmlcdn.com/public/images/fannbox_close_chat.png");
                        background-position: center;
            background-repeat: no-repeat;
        }
        .vjs-icon-placeholder:before {
        content: '' !important;
    }
    .video-js .vjs-time-tooltip {
        color: #fff;
        background-color: rgba(0,0,0,.8);
        font-size: small !important;
    }
    /*  New styles */
            .dotcom_player.vjs-mango-skin .vjs-play-progress{
        background-color:#FBB407
        }
    .video-js .vjs-play-progress:before, .video-js .vjs-volume-level:before, .vjs-icon-circle:before {
        border: 4px solid #FBB407;
    }

    .video-js .vjs-progress-control:hover .vjs-play-progress:before {
        border: 5px solid #FBB407;
    }
    .video-js .vjs-vtt-thumbnail-display {
        border-bottom: 2px solid #FBB407;
    }
    .video-js .vjs-vtt-thumbnail-display:after {
        border-top: solid 10px #FBB407;
    }
    .vjs-menu-button-levels .vjs-selected, .vjs-quality-selector .vjs-selected {
        background-color: #FBB407 !important;
    }
    .skip-intro-icon {
        border: 1px solid #FBB407;
    }
    .skip-intro-icon:hover {
        background-color: #FBB407;
    }
            
        
                                                                                .dotcom_player.vjs-mango-skin .vjs-control-bar {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 100%) !important;
    }
    .vjs-icon-hd, .vjs-menu-button-levels {
        width: 36px !important;
    }
