.bitmovinplayer-ad-container, .bitmovinplayer-container{direction:ltr;}
.bmpui-ui-watermark,#bmpui-id-184,#bmpui-id-132{display: none; !important}#bmpui-id-185{margin:9px 20px 0 10px}
.bmpui-ui-buffering-overlay{background-color:#000000b3}.notloaded 
.bmpui-ui-buffering-overlay-indicator{display:inline-block!important}#playerdiv 
.bmpui-ui-buffering-overlay 
.bmpui-ui-buffering-overlay-indicator{background:#fff;height:1em;margin:.5em;width:1em;border-radius:10px

.bitmovinplayer-ad-container, 
.bitmovinplayer-container{direction:ltr;}
.bmpui-ui-watermark,#bmpui-id-184,#bmpui-id-132{display: none; !important}#bmpui-id-185{margin:9px 20px 0 10px}
.bmpui-ui-buffering-overlay{background-color:#000000b3}
.notloaded 
.bmpui-ui-buffering-overlay-indicator{display:inline-block!important}#playerdiv 
.bmpui-ui-buffering-overlay 
.bmpui-ui-buffering-overlay-indicator{background:#fff;height:1em;margin:
.5em;width:1em;border-radius:10px
